body{
    font-family: Raleway;
}

header.cabecera {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 1rem 10%;
    align-items: center;
}

.cabecera__container {
    display: flex;
    align-items: center;
}

img.cabecera__imagen {
    margin-right: 2rem;
}

.cabecera__input{
    background: #f5f5f5;
    border-radius: 20px;
    height: 2rem;
    width: 250px;
}

.cabecera__lupa{
    position: relative;
    right: 35px;
}

.cabecera__boton{
    height: 3rem;
    width: 200px;
}

.boton{
    background: #2a7ae4;
    border: none;
    color: white;
    height: 3rem;
    text-align: center;
}

.menu{
    background: url(../img/Hero.png) center;
    min-height: 300px;
    min-width: 100%;
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    padding-bottom: 25px;
}

.menu__titulo{
    font-size: 52px;
    margin: 0;
    margin-left: 10%;
}

.menu__texto{
    font-size: 22px;
    margin-left: 10%;
    margin-top: 0.5rem;
}

.menu__boton{
    width: 129px;
    height: 51px;
    margin-left: 10%;
    margin-top: 1rem;
}


/* Sección StarWars */

.starWars, .consolas, .diversos{
    padding: 0 10%
}

.starWars a, .consolas a, .diversos a{
    color: #2A7AE4;
    font-weight: 700;
    text-decoration: none;
}

.starWars__titulo, .consolas__titulo, .diversos__titulo{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0 1rem 0;
}

.starWars__titulo h2, .consolas__titulo h2, .diversos__titulo h2{
    font-size: 32px;
    font-weight: 600;
}

.starWars__titulo a, .consolas__titulo a, .diversos__titulo a{
    display: flex;
    align-items: center;
}

.starWars__productos, .consolas__productos, .diversos__productos{
    display: flex;
    gap: 10px;
    min-width: 87%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productos__box p{
    font-weight: 900;
    padding: 0.25rem 0 0.75rem 0;
}

.sobre{
    align-items: flex-start;
    background: #EAF2FD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 2rem 10%;
}

.sobre__lista {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 0;
}

.sobre__lista ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
}

.sobre__lista a{
    color: #464646;
    font-weight: 500;
    text-decoration: none;
}

.sobre__formulario{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 30vw;
}

.sobre__formulario form{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.formulario__form input{
    height: 56px;
}

.formulario__form textarea{
    height: 82px;
    resize: none;
}

.form__boton{
    width: 25%;
}

.formulario__texto{
    color: #464646;
    font-weight: 900;
}

.footer{
    text-align: center;
    padding: 1.5rem 10%
}