body{
    font-family: Raleway;
}

header.cabecera {
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 1rem 10%;
}

.cabecera__container {
    align-items: center;
    display: flex;
}

img.cabecera__imagen {
    margin-right: 2rem;
}

.img__click{
    cursor: pointer;
}

.cabecera__input{
    background: #f5f5f5;
    border-radius: 20px;
    height: 2rem;
    width: 250px;
}

.cabecera__lupa{
    position: relative;
    right: 35px;
}

.cabecera__boton{
    height: 3rem;
    width: 200px;
}

.boton{
    background: #2a7ae4;
    border: none;
    color: white;
    cursor: pointer;
    height: 3rem;
    text-align: center;
}

.menu{
    background: url(../img/Hero.png) center;
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    min-height: 300px;
    min-width: 100%;
    padding-bottom: 25px;
}

.menu__titulo{
    font-size: 52px;
    margin: 0;
    margin-left: 10%;
}

.menu__texto{
    font-size: 22px;
    margin-left: 10%;
    margin-top: 0.5rem;
}

.menu__boton{
    height: 51px;
    margin-left: 10%;
    margin-top: 1rem;
    width: 129px;
}


/* Sección StarWars */

.starWars, .consolas, .diversos{
    padding: 0 10%
}

.starWars a, .consolas a, .diversos a{
    color: #2A7AE4;
    font-weight: 700;
    text-decoration: none;
}

.starWars__titulo, .consolas__titulo, .diversos__titulo{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0 1rem 0;
}

.starWars__titulo h2, .consolas__titulo h2, .diversos__titulo h2{
    font-size: 32px;
    font-weight: 600;
}

.starWars__titulo a, .consolas__titulo a, .diversos__titulo a{
    align-items: center;
    display: flex;
}

.starWars__productos, .consolas__productos, .diversos__productos{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 87%;
}

.productos__box p{
    font-weight: 900;
    padding: 0.25rem 0 0.75rem 0;
}

.box__imagenes{
    height: 185px;
    width: 185px;
}

.box__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container__boton{
    height: 1.75rem;
    width: 45%;
}

.container__boton.editar{
    background-color: #2A7AE4;
    border: transparent solid;
    border-radius: 5px;
    color: white;
}

.container__boton.eliminar{
    background-color: #bb2929;
    border: transparent solid;
    border-radius: 5px;
    color: white;
}

.footer__sobre{
    align-items: flex-start;
    background: #EAF2FD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 2rem 10%;
}

.sobre__lista {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 0;
}

.sobre__lista ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-around;
}

.sobre__lista a{
    color: #464646;
    font-weight: 500;
    text-decoration: none;
}

.sobre__formulario{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 30vw;
}

.sobre__formulario form{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.formulario__container {
    display: flex;
    flex-direction: column;
    /* width: 98vw; */
}

select.agregar__input.select {
    width: 508px;
}

.formulario__form input{
    height: 56px;
}

.formulario__form textarea{
    height: 82px;
    resize: none;
}

.form__boton{
    width: 25%;
}

.formulario__texto{
    color: #464646;
    font-weight: 900;
}

.footer__dev{
    padding: 1.5rem 10%;
    text-align: center;
}

/* Estilo Validaciones */

.input-message-error{
    color: #db5353;
    font-weight: 600;
    margin-left: 5px;
}

.formcontato__input-incorrecto{
    border: #bb2929 solid 2px;
    display: flex;
    flex-direction: column;
}
@media (max-width:500px){
    .box__imagenes{
        height: 150px;
        width: 150px;
    }
}

@media (max-width:1200px){
    header.cabecera{
        padding: 1rem 0px;
    }
}

@media (max-width:769px) {
    header.cabecera{
        display: flex;
        flex-direction: column;
    }

    .cabecera__container{
        flex-direction: column;
    }

    .cabecera__input{
        width: 95vw;
    }

    .cabecera__lupa{
        display: none;
    }

    .cabecera__boton{
        margin-top: 1rem;
        width: 95vw;
    }

    .starWars, .consolas, .diversos{
        padding: inherit;
    }
    .starWars__titulo, .consolas__titulo, .diversos__titulo{
        margin: 3rem 0 1rem 0;
    }

    .starWars__productos, .consolas__productos, .diversos__productos{
        gap: .5rem;
    }

    .footer__sobre{
        align-items: center;
        flex-direction: column;
        padding: 2rem 0;
    }

    .sobre__formulario{
        margin-top: 2rem;
        width: 100vw;
    }
    
    .form__boton{
        width: auto;
    }
}